$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "vendor";
@import "defaults";
@import "layout";
.alert-minimalist {
    border-color: rgba(149, 149, 149, 0.3);
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    color: #666;
    padding: 10px;
    &.alert-minimalist-error {
        @extend .alert-danger;
    }
    &.alert-minimalist-info {
        @extend .alert-info;
    }
    &.alert-minimalist-success {
        @extend .alert-success;
    }
    &.alert-minimalist-warning {
        @extend .alert-warning;
    }
}

.alert-minimalist > [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}

.alert-minimalist > [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-minimalist > [data-notify="message"] {}